/* #toplevel_page_wp-internal-links .wp-first-item {
  display: none;
} */

.wp-internal-links-popup {
  background: #fff;
  padding: 20px;
}

.wp-internal-links-popup table {
  width: 100%;
  border-collapse: collapse;
}

.wp-internal-links-popup th,
.wp-internal-links-popup td {
  padding: 10px;
  border: 1px solid #ddd;
}

.wp-internal-links-popup th {
  background: #f1f1f1;
  text-align: left;
}

.wpil-dashboard-page .logo {
  background-color: #0a0b53;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  width: auto;
}

.wpil-dashboard-page .logo h2 {
  margin: 0;
  font-weight: normal;
  color: #fff;
  font-weight: bold;
}

.wpil-dashboard-page .wrap {
  width: 100%;
}
