/* #toplevel_page_wp-internal-links .wp-first-item {
  display: none;
} */

.wp-internal-links-popup {
  background: #fff;
  padding: 20px;
}

.wp-internal-links-popup table {
  width: 100%;
  border-collapse: collapse;
}

.wp-internal-links-popup th,
.wp-internal-links-popup td {
  padding: 10px;
  border: 1px solid #ddd;
}

.wp-internal-links-popup th {
  background: #f1f1f1;
  text-align: left;
}

.wpil-dashboard-page .logo {
  background-color: #0a0b53;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  width: auto;
}

.wpil-dashboard-page .logo h2 {
  margin: 0;
  font-weight: normal;
  color: #fff;
  font-weight: bold;
}

.wpil-dashboard-page .wrap {
  width: 100%;
}

.wpil-dashboard-page .manage-column {
  position: relative;
}

.wpil-dashboard-page .column-inbound_links .wpil-text-label,
.wpil-dashboard-page .column-inbound_links .wpil-text-des,
.wpil-dashboard-page .column-inbound_links_in_category .wpil-text-label,
.wpil-dashboard-page .column-inbound_links_in_category .wpil-text-des,
.wpil-dashboard-page .column-link_back_to_category .wpil-text-label,
.wpil-dashboard-page .column-link_back_to_category .wpil-text-des {
  color: #2271b1;
}

.wpil-dashboard-page .column-inbound_links .sorting-indicators,
.wpil-dashboard-page .column-inbound_links_in_category .sorting-indicators,
.wpil-dashboard-page .column-link_back_to_category .sorting-indicators {
  position: absolute;
  bottom: 25px;
  left: 57px;
}

.wpil-dashboard-page .column-link_back_to_category .sorting-indicators {
  left: 140px;
}

.wpil-dashboard-page #outbound_links a,
.wpil-dashboard-page #outbound_links_in_category a {
  position: absolute;
  bottom: 15px;
  color: #2c3338;
}

.wpil-dashboard-page tfoot .manage-column .wpil-text-label,
.wpil-dashboard-page tfoot .manage-column .wpil-text-des,
.wpil-dashboard-page tfoot .manage-column img {
  display: none;
}

.wpil-dashboard-page tfoot th.column-outbound_links a,
.wpil-dashboard-page tfoot th.column-outbound_links_in_category a {
  color: #2c3338;
}

.wpil-dashboard-page a:focus {
  box-shadow: none !important;
  outline: none !important;
}
